<div id="news-header"><h1>News</h1></div>
<div ng-controller="newsCtrl" id="news-container">
	<div class="row">
		<h2>Headline</h2>
		<a href="http://blog.watrust.com/" class="button col-md-2">WTB Blog</a>
		<div class="clearfix"></div>
		<div class="col-md-4 col-xs-12 article" ng-repeat="article in articles">
			<div class="news-item">
				<h3>{{article.title}}</h3>
				<p>{{article.body}}</p>
				<small>{{article.date}}</small>
				<br />
				<small>{{article.source}}</small>
				<a href="#">
					<article-linkout></article-linkout>				
				</a>
			</div>
		</div> <!-- end column -->
	</div> <!-- end row -->
</div> <!-- end div news container -->
<script type="text/javascript">
	var cw = $('.article').width();
	$('.article').css({'height':cw+'px'});
</script>