#community {
    #community-social {
        .social-network {
            button {
                background: none;
                border: 3px solid #007ca8;
                border-radius: 10px;
                color: #007ca8;
                float: right;
                font-family: "museo-slab", serif;
                font-size: 1.6vw;
                height: auto;
                line-height: 1.1em;
                margin: 13% 5% 0 0;
                min-height: 50px;
                position: relative;
                width: 40%;
                @media only screen and (max-width: 767px) {
                    font-size: 3vw;
                }
            }
            h3 {
                color: #407685;
                font-family: "museo-slab", serif;
                font-size: 4vw;
                text-align: center;
                @media only screen and (max-width: 767px) {
                    font-size: 8vw;
                }
            }
            .watrust-socialicons {
                top: 0;
                left: 0;
                ul {
                    display: table;
                    list-style: none;
                    padding: 0;
                    width: 100%;
                    li {
                        display: table-cell;
                        text-align: center;
                        svg {
                            padding: 10%;
                            .st0 {
                                fill: #007ca8;
                            }
                            .st1 {
                                fill: #fff;
                            }
                            float: right;
                            width: 100%;
                            @media only screen and (max-width: 767px) {
                                margin-left: 0;
                                padding: 10%;
                                width: 100%
                            }
                        }
                    }
                }
            }
        }
        .stats {
            padding: 0;
            h3 {
                font-family: "museo-slab", serif;
                text-align: center;
            }
            .full {
                background: #007ca8;
                background-size: cover;
                background-repeat: no-repeat;
                padding-top: 100%;
                .stat-content {
                    margin-top: -21%;
                }
            }
            .half {
                background: #242935;
                background-size: cover;
                background-repeat: no-repeat;
                padding-top: 50%;
                .stat-content {
                    height: 20%;
                    margin-top: -4%;
                }
            }
            .quarter {
                background: #004163;
                background-size: cover;
                background-repeat: no-repeat;
                padding-top: 50%;
                .stat-content {
                    margin-top: -13%;
                }
            }
            .stat-content {
                font-family: "museo-slab", serif;
                padding-right: 5%;
                position: absolute;
                text-align: center;
                top: 50%;
                width: 100%;
                large {} p {} small {
                    font-size: 1.5vw;
                }
            }
            .stat1 {
                background-image: url("../images/community/community-1200X1200-hotdogs.jpg");
                color: #004163;
                .stat-content {
                    large {
                        font-size: 13vw;
                        font-weight: 500;
                        @media only screen and (max-width: 991px) {
                            font-size: 21vw;
                        }
                    }
                    p {
                        font-size: 2.2vw;
                        line-height: 3.5em;
                        @media only screen and (max-width: 991px) {
                            font-size: 4.2vw;
                        }
                    }
                }
            }
            .stat2 {
                background-image: url("../images/community/community-1200x600-bbq.jpg");
                color: #004163;
                .stat-content {
                    large {
                        font-size: 20vw;
                        font-weight: 600;
                    }
                    p {
                        font-size: 3vw;
                        line-height: 3em;
                        @media only screen and (max-width: 991px) {
                            font-size: 4.7vw;
                        }
                    }
                }
            }
            .stat3 {
                background-image: url("../images/community/texture-1200x600-darkblue.jpg");
                color: #fff;
                .stat-content {
                    large {
                        font-size: 20vw;
                        font-weight: 600;
                    }
                    p {
                        font-size: 3vw;
                        line-height: 3em;
                        @media only screen and (max-width: 991px) {
                            font-size: 4.7vw;
                        }
                    }
                }
            }
            .stat4 {
                background-color: #e3e385;
                color: #004163;
                .stat-content {
                    large {
                        font-size: 9vw;
                        font-weight: 600;
                        @media only screen and (max-width: 991px) {
                            font-size: 20vw;
                        }
                    }
                    p {
                        font-size: 4vw;
                        line-height: 1.2em;
                        @media only screen and (max-width: 991px) {
                            font-size: 10vw;
                            font-weight: 400;
                        }
                    }
                    small {
                        font-size: 1.5vw;
                        line-height: 1em;
                        @media only screen and (max-width: 991px) {
                            font-size: 4.7vw;
                        }
                    }
                }
            }
            .stat5 {
                background-color: #407685;
                color: #fff;
                .stat-content {
                    large {
                        font-size: 9vw;
                        font-weight: 600;
                        @media only screen and (max-width: 991px) {
                            font-size: 20vw;
                        }
                    }
                    p {
                        font-size: 3vw;
                        line-height: 1.6em;
                        @media only screen and (max-width: 991px) {
                            font-size: 10vw;
                            font-weight: 400;
                        }
                    }
                    small {
                        font-size: 1.5vw;
                        line-height: 1em;
                        @media only screen and (max-width: 991px) {
                            font-size: 4.7vw;
                        }
                    }
                }
            }
            .stat6 {
                background-image: url("../images/community/texture-1200x600-grocerygrab.jpg");
                color: #004163;
                .stat-content {
                    large {
                        font-size: 7vw;
                        font-weight: 600;
                        @media only screen and (max-width: 991px) {
                            font-size: 10vw;
                        }
                    }
                    p {
                        font-size: 3vw;
                        line-height: 1em;
                        margin-top: 1em;
                        padding-left: 4%;
                        padding-right: 11%;
                        @media only screen and (max-width: 991px) {
                            font-size: 4vw;
                        }
                    }
                }
            }
            .stat7 {
                background-image: url("../images/community/community-1200x1200-diaperdrive.jpg");
                color: #004163;
                .stat-content {
                    large {
                        font-size: 9vw;
                        font-weight: 600;
                        line-height: 1em;
                        @media only screen and (max-width: 991px) {
                            font-size: 20vw;
                        }
                    }
                    p {
                        font-size: 4vw;
                        font-weight: 200;
                        line-height: 1em;
                        @media only screen and (max-width: 991px) {
                            font-size: 6vw;
                        }
                    }
                }
            }
            .stat8 {
                background-image: url("../images/community/community-1200X1200-christmas-tres.jpg");
                color: #fff;
                .stat-content {
                    large {
                        font-size: 20vw;
                        font-weight: 600;
                        @media only screen and (max-width: 991px) {
                            line-height: 1em;
                        }
                    }
                    p {
                        font-size: 4vw;
                        line-height: 1.5em;
                        @media only screen and (max-width: 991px) {
                            font-size: 7vw;
                            line-height: 1em;
                        }
                    }
                }
            }
            .stat9 {
                background-image: url("../images/community/texture-1200x600-cowbells.jpg");
                color: #004163;
                .stat-content {
                    large {
                        font-size: 6vw;
                        font-weight: 400;
                        line-height: 1em;
                        @media only screen and (max-width: 991px) {
                            font-size: 11vw;
                        }
                    }
                    p {
                        font-size: 3vw;
                        line-height: 1em;
                        @media only screen and (max-width: 991px) {
                            font-size: 5vw;
                        }
                    }
                }
            }
            .stat10 {
                background-color: #79c2be;
                color: #004163;
                .stat-content {
                    large {
                        font-size: 9em;
                        font-weight: 600;
                        @media only screen and (max-width: 991px) {
                            font-size: 5em;
                        }
                    }
                    p {
                        font-size: 5vw;
                        line-height: 1.1em;
                        @media only screen and (max-width: 991px) {
                            font-size: 2em;
                            font-weight: 400;
                            line-height: 1.5em;
                        }
                    }
                    small {
                        font-size: 2vw;
                        font-weight: 400;
                        line-height: 1em;
                        @media only screen and (max-width: 991px) {
                            font-size: 4vw;
                            line-height: 1em;
                        }
                    }
                }
            }
            .stat11 {
                background-image: url("../images/community/community-1200X1200-christmas-tres.jpg");
                color: #fff;
                .stat-content {
                    large {
                        font-size: 5vw;
                        line-height: 1em;
                        @media only screen and (max-width: 991px) {
                            font-size: 16vw;
                            line-height: 1em;
                        }
                    }
                    p {
                        font-size: 2vw;
                        line-height: 1em;
                        @media only screen and (max-width: 991px) {
                            font-size: 4vw;
                        }
                    }
                }
            }
        }
        social-icons {
            #watrust-socialicons {
                top: -20px;
                left: -7px;
                ul {
                    padding: 0;
                    li {
                        list-style: none;
                        a {
                            svg {
                                .st1 {
                                    fill: #fff;
                                }
                                .st0 {
                                    fill: #007ca8;
                                }
                                float: left;
                                padding: 1%;
                                width: 20%;
                            }
                        }
                    }
                }
            }
        }
    }
    #nav-tile-container {
        position: relative;
        ul {
            height: auto;
            margin-left: 1.25%;
            padding: 0 !important;
            width: 150%;
            float: left;
            a {
                li.nav-tile {
                    background: #004163;
                    float: left;
                    padding-top: 16%;
                    position: relative;
                    list-style: none;
                    margin: -20px .5% 0 0;
                    width: 16%;
                    z-index: 4;
                    h3 {
                        bottom: 10px;
                        color: #fff;
                        font-family: "museo-slab", serif;
                        font-size: 1em;
                        left: 4%;
                        position: absolute;
                    }
                }
            }
            a:first-child li {
                background-image: url("../images/ourstory-card-600x600.jpg");
            }
            a:nth-child(2) li {
                background-image: url("../images/community-card-600x600.jpg");
            }
            a:nth-child(3) li {
                background-image: url("../images/careers-card-600x600.jpg");
            }
            a:nth-child(4) li {
                background-image: url("../images/news-card-600x600.jpg");
            }
            a:nth-child(5) li {
                background-image: url("../images/investorrelations-card-600x600.jpg");
            }
            a:nth-child(6) li {
                background-image: url("../images/contact-card-600x600.jpg");
            }
        }
    }
    #vertical-pillars {
        background: url("../images/crewinblue-herobkgd-1920x1080.jpg") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
        margin: 0;
        padding: 0;
        ul {
            display: table;
            float: right;
            height: 100%;
            position: absolute;
            right: 0;
            table-layout: fixed;
            top: 0;
            width: 20%;
            @media only screen and (max-width: 991px) {
                height: 90%;
                top: 7%;
            }
            li {
                display: table-row;
                text-align: center;
                span {
                    display: table-cell;
                    vertical-align: middle;
                    height: auto;
                    svg {
                        max-width: 300px;
                        width: 100%;
                        .cls-1 {
                            fill: #fff;
                        }
                        .cls-2 {
                            fill: none;
                        }
                    }
                }
            }
        }
        .vertical-pillars-heading {
            color: #fff;
            font-family: "museo-slab", serif;
            padding-left: 4%;
            h3 {
                font-size: 8vw;
            }
            p {
                font-size:3vw;
                line-height: 2em;
                padding-right: 20%;
                @media only screen and (max-width : 700px) {
                  font-size: 4vw;
                }
            }
        }
    }
    .video-overlap {
        position: relative;
        z-index: 3;
        .container {
            position: absolute;
            top: 50%;
            transform: translateY(-115%);
            width: 100%;
            a.lightbox-toggle {
                div {
                    width: 100%;
                    svg {
                        display: block;
                        fill: #fff;
                        min-height: 50px;
                        margin: 0 auto;
                        position: relative;
                        width: 100px;
                        @media only screen and (max-width: 640px) {
                            height: 50px;
                            width: 50px;
                        }
                        .cls-1 {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
    .tagboard-heading {
        button {
            display: none;
        }
    }
}