#pillars-container {
  /*border-top: 300px solid #007ca8;*/
  background: #242935;
  height: auto;
  padding: 0;
  position: relative;
  float: left;
  width: 100%;
  h2 {
    color: #fff;
    font-family: "museo-slab",serif;
    font-weight: 700;
    font-size: 5vw;
    margin-bottom: 80px;
    text-align: center;
  }
    ul {
    text-align: justify;
    font-size: 0.1px; /* IE 9/10 doesn't like font-size: 0; */
    margin: 0 8% 0 8%;
    padding: 0;

    li {
      display: inline-block;
      margin-bottom: 30px;
      padding: 2.5%;
      }
    li.wisdom {
      .cls-1 {
        fill:#fff;
      }
    }
    li.wisdom {
      .cls-2{ /*icon lines*/
        fill:none;
      }
    }
    li.vision {
      .cls-1{
        fill:#fff;
      }
    }
    li.vision {
      .cls-2{ /*icon lines*/
        fill:none;
      }
    }
    li.passion{ 
      .cls-1{
        fill:#fff;
      }
    }
    li.passion{ 
      .cls-2{ /*icon lines*/
        fill:none;
      }
    }
    li.strength{ 
      .cls-1{
        fill:#fff;
      }
    }
    li.strength{ 
      .cls-2{ /*icon lines*/
        fill:none;
      }
    }
  }

}
.pillar-description {
  font-size: 65%;
  padding: 10%;
  text-align: center;
  h2 {
    font-family: "museo-slab",serif;
    font-size: 6vw;
    font-weight: 700;
    padding-top: 15%
  }
  p {
    font-family: "museo-slab", serif;
    font-size: 3.4vw;
    font-weight: 300;
    line-height: 1.5em;
    padding: 0 4% 0 4%;
    @media only screen and (max-width : 991px) {
      font-size: 5.4vw;
    }
  }
  wisdom {
    svg {
      left: 15%;
      position: absolute;
      top: 0;
      z-index: -1;
      .cls-1 {
        fill: #fff;
      }
      .cls-2 {
        fill: rgba(64, 118, 133, 0.3);
      }
    }
  }
  vision {
    svg {
      right: 15%;
      position: absolute;
      top: 0;
      z-index: -1;
      .cls-1 {
        fill: #fff;
      }
      .cls-2 {
        fill: rgba(192, 225, 237, 0.3);
      }
    }
  }
  passion {
    svg {
      left: 15%;
      position: absolute;
      top: 0;
      z-index: -1;
      .cls-1 {
        fill: #fff;
      }
      .cls-2 {
        fill: rgba(133, 143, 152, 0.3);
      }
    }
  }
  strength {
    svg {
      right: 15%;
      position: absolute;
      top: 0;
      z-index: -1;
      .cls-1 {
        fill: #fff;
      }
      .cls-2 {
        fill: rgba(36, 41, 53, 0.3);
      }
    }
  }
}
#pillars-header {
  background: url("../images/pillars-Hero-bkgd-1920x1080.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding: 2%;
  .pillars-heading-body {
    clear: left;
    float: right;
    height: 0;
    p {
      color: #ffffff;
      font-size: 0.9em;
      line-height: 2em;
      text-align: left;
    }
  }
  wto-logo {
    svg {
      min-height: 380px;
      position: relative;
      top: 50px;
      width: 100%;
    }
    path {
      fill: #fff;
    }
  }
}
#pillar-tile-container {
  height: auto;
  padding: 0;
}
.pillar-imagery {
  img {
    width: 100%;
  }
}
.pillar-tile {
  padding: 0;
}
#wisdom-container {
  height: auto;
  overflow: hidden;
  width: 100%;
  h2, p {
  color: #007ca8;
  @media only screen and (max-width : 991px) {
    color: #fff;
  }
  }
  .pillar-imagery {
    float: left;
  }
  .pillar-description {
    float: right;
  }
}
#vision-container {
  height: auto;
  overflow: hidden;
  width: 100%;
  h2, p {
  color: #858f98;
  }
  .pillar-imagery {
    float: right;
  }
  .pillar-description {
    float: left;
  }
}
#passion-container {
  height: auto;
  overflow: hidden;
  width: 100%;
  h2, p {
  color: #407685;
  @media only screen and (max-width : 991px) {
    color: #fff;
  }
  }
  .pillar-imagery {
    float: left;
  }
  .pillar-description {
    float: right;
  }
}
#strength-container {
  height: auto;
  overflow: hidden;
  width: 100%;
  h2, p {
  color: #242935;
  }
  .pillar-imagery {
    float: right;
  }
  .pillar-description {
    float: left;
  }
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width : 991px) { 
  #wisdom-container {
      display: block;
    .pillar-description {
      display: block;
      float: none;
      h2 {
        left: 50%;
        margin-left: -11vw;
        position: absolute;
        top: 0;
      }
      p {
        position: absolute;
        margin-top: 40%;
      }
      wisdom {
        svg {
          display: none;
        }
      }
    }
    .pillar-imagery {
      img {
        display: block;
      }
    }
  }
  #vision-container {
    display: block;
    .pillar-description {
      display: block;
      padding-top: 100%;
      float: none;
      h2 {
        left: 50%;
        margin-left: -11vw;
        position: absolute;
        top: 0;
      }
      p {
        position: absolute;
        margin-top: 40%;
        top: 0;
      }
      vision {
        svg {
          left: 0;
        }
      }
    }
    .pillar-imagery {
      img {
        display: none;
      }
    }
  }
  #passion-container {
    display: block;
    .pillar-description {
      display: block;
      float: none;
      h2 {
        left: 50%;
        margin-left: -11vw;
        position: absolute;
        top: 0;
      }
      p {
        position: absolute;
        margin-top: 40%;
      }
      passion {
        svg {
          display: none;
        }
      }
    }
    .pillar-imagery {
      img {
        display: block;
      }
    }
  }
  #strength-container {
    display: block;
    .pillar-description {
      display: block;
      padding-top: 100%;
      float: none;
      h2 {
        left: 50%;
        margin-left: -11vw;
        position: absolute;
        top: 0;
      }
      p {
        position: absolute;
        margin-top: 40%;
        top: 0;
      }
      strength {
        svg {
          left: 0;
        }
      }
    }
    .pillar-imagery {
      img {
        display: none;
      }
    }
  }
}