<div ng-controller="pillarsCtrl" class="row">
  <div class="col-md-12" id="pillars-header">
    <div class="pillars-heading-body col-md-6">  
      <wto-logo></wto-logo>
      <p>It's the wisdom that's been passed down for 114 years. It's the vision that lets us observe with clarity. It's a passion that drives us to do whatever it takes. It's the strength that comes from being experienced and empowered.  
      <br><br>Watrustology is the essence of Washington Trust Bank.</p>
    </div>
  </div> <!--end pillars header div-->
</div> <!-- end row -->
<div class="row">
<div class="col-md-12" id="pillars-container">
    <h2>Watrustology is built on four pillars</h2>
      <ul>
        <li class="col-xs-6 col-md-3 wisdom"><wisdom></wisdom></li>
        <li class="col-xs-6 col-md-3 vision"><vision></vision></li><!-- THESE HAVE GOT TO BE IMAGES IN ORDER FOR SCALING TO WORK PROPERLY -->
        <li class="col-xs-6 col-md-3 passion"><passion></passion></li> 
        <li class="col-xs-6 col-md-3 strength"><strength></strength></li>
      </ul>
  </div>
</div> <!-- end row -->
  <div id="pillar-tile-container" class="row">
    <div id="wisdom-container">
      <div class="pillar-tile col-md-6 col-sm-12 pillar-imagery"><img src="assets/images/wisdom-bkgd-1200x1200.jpg" alt="a man and a woman dressed in business attire plan over a sheet of paper"></div>
      <div class="pillar-tile col-md-6 col-sm-12 pillar-description">
        <h2>wisdom</h2>
        <p>           
            The experience, knowledge, and good judgement we've developed from over a century of banking in the Pacific Northwest.
        </p>
        <wisdom></wisdom>
      </div>  
    </div>
    <div id="vision-container">
      <div class="pillar-tile col-md-6 col-sm-12 pillar-description">
        <h2>vision</h2>
        <p>
             Taking the time to gain a clear picture of your business, and how we can help you find the right path to financial achievement.
        </p>
        <vision></vision>
      </div>
      <div class="pillar-tile col-md-6 col-sm-12 pillar-imagery"><img src="assets/images/vision-bkgd-1200x1200.jpg" alt="one man sitting and another standing, both looking down over buildings in a double exposed image"></div>
    </div>
    <div id="passion-container">
      <div class="pillar-tile col-md-6 col-sm-12 pillar-imagery"><img src="assets/images/passion-bkgd-1200x1200.jpg" alt="headshot of a woman with a closed mouth smile"></div>
      <div class="pillar-tile col-md-6 col-sm-12 pillar-description">
        <h2>passion</h2>
        <p>
             Being entrusted with the financial well-being of our clients brings out an intense desire to do whatever it takes.
        </p>
        <passion></passion>
      </div>
    </div>
    <div id="strength-container">
      <div class="pillar-tile col-md-6 col-sm-12 pillar-description">
        <h2>strength</h2>
        <p>
             Our strength comes from a foundation of leadership that has remained focused on positively impacting our clients, customers, and community.
        </p>
        <strength></strength>
      </div>
      <div class="pillar-tile col-md-6 col-sm-12 pillar-imagery"><img src="assets/images/strength-bkgd-1200x1200.jpg" alt="two men planning over double exposed imagery of another man's close up headshot"></div>
    </div>
  </div> <!-- end row -->