<div id="our-story-container">
  <div id="our-story-header">
    <span class="heading-body">  
      <h1><span class="wtb-small">The Story of</span><br><span class="wtb-large">Washington Trust Bank</span></h1>
      <p>Since 1902, Washington Trust Bank has strived to provide quality service and financial stability for our customers. Four generations of Stanton family leadership later, we continue to focus on integrity and commitment to community.</p>
    </span>
  </div> <!--end story header div-->
<div class="container-fluid">
  <div class="row">
    <div id="our-story-copy" class="row">
      <div class="quote col-md-6">
        <quote-ring></quote-ring>
        <p>Peter Stanton, Chairman and CEO</p>
      </div>
      <div class="history-body col-md-6">
        <i>We will focus our unique strengths as a community bank on serving customers who percieve a distinct value in building long-term relationships.</i>
        <p>
         As the oldest and largest privately-held commercial bank in the Northwest, with more than 40 financial centers and offices in Washington, Idaho and Oregon, we enjoy and advantage over our publicly-owned competitors. We base our decisions and policies on what's happening right here in the Northwest--not in distant locales. Being independent, we are able to set our sights on long-term goals rather than quarterly results. We stay focused on doing the right things fo rour clients and our communities.
        </p>
      </div>
    </div>
  </div>
</div>
  <div id="our-story-footer">
    <span><h2>WTB Story</h2></span>
  </div>
</div> <!--end story container div-->
<!-- seperate the timeline using angular -->
<section class="timeline">
  <timeline-bug></timeline-bug>
  <ul>
    <li>
      <div>
        <time>1902</time><p>Wanting to start a bank that would offer a full line of services, J. Grier Long, a mortgage and investment specialist, Martin B. Connelly, a successful real estate man, and R.L.Webster, form Washington Trust Company.</p>
        <img src="assets/images/history/history-thumbnail-1902.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1905</time> <p>Washington Trust begins offering what was a new idea at the time in financial services…checking accounts!</p>
        <img src="assets/images/history/history-thumbnail-1905.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1912</time> <p>Washington Trust’s assets grow to more than one million dollars, but the country’s economy faces hard times. While scores of banks fail Washington Trust stays open and meets all withdrawals on demand.</p>
        <img src="assets/images/history/history-thumbnail-1912.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1919</time> <p>After giving up his career as a meat packer, Mr. E.H. Stanton and his family purchase the controlling interest in Washington Trust. "Our efforts will be to make the Washington Trust Company second to none in the Inland Empire." –E.H. Stanton</p>
        <img src="assets/images/history/history-thumbnail-1919.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1932</time> <p>Washington Trust adds a location at 715 Sprague Avenue just before the depression. During this difficult time, Washington Trust meets every request for withdrawals of funds, does business as usual, and for a short time is the only bank in Spokane open for business. </p>
        <img src="assets/images/history/history-thumbnail-1932.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1933</time> <p>8,000 banks fail, 25% of the labor force is unemployed and business across America is at a standstill. Washington Trust, however, stays open for business six days a week and meets every request for withdrawals on demand. </p>
        <img src="assets/images/history/history-thumbnail-1933.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1941</time> <p>After starting at the bank as an assistant messenger 22 years earlier and working his way up, Fred Stanton becomes the youngest bank president at the time, at the age of 54.</p>
        <img src="assets/images/history/history-thumbnail-1941.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1942</time> <p>Washington Trust introduces Checkmaster—a service that allows customers to open checking accounts in person or by mail with as little as one dollar.</p>
        <img src="assets/images/history/history-thumbnail-1942.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1950</time> <p>Washington Trust opens the first drive-in branch in the Pacific Northwest. Under Fred Stanton’s leadership the bank looks toward expansion and by the 50’s, Washington Trust is a $54 million institution with four branch offices.</p>
        <img src="assets/images/history/history-thumbnail-1950.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1951</time> <p>The bank changes its name from Washington Trust Company to Washington Trust Bank.</p>
        <img src="assets/images/history/history-thumbnail-1951.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1962</time> <p>Philip Stanton becomes Spokane’s youngest bank president at the age of 31. The bank installs one of the first data-processing systems in the country in a bank of its size.</p>
        <img src="assets/images/history/history-thumbnail-1962.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1974</time> <p>Washington Trust plays an instrumental role in the success of Expo ’74, an event that helps to shape Spokane’s future. Construction starts on a sixteen-story office tower and headquarters.</p>
        <img src="assets/images/history/history-thumbnail-1974.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1979</time> <p>The bank has accumulated assets totaling $254 million and has fourteen branches.</p>
        <img src="assets/images/history/history-thumbnail-1979.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1984</time> <p>Washington Trust receives a prestigious governor’s award for outstanding community involvement.</p>
        <img src="assets/images/history/history-thumbnail-1984.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1990</time> <p>Peter Stanton becomes the fourth generation in the family to be elected president of the bank at the age of 34.</p>
        <img src="assets/images/history/history-thumbnail-1990.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1994</time> <p>Washington Trust expands into central Washington after a merger with The Columbia Bank.</p>
        <img src="assets/images/history/history-thumbnail-1994.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1996</time> <p>Washington Trust grows again with another merger with our affiliate, Northern State Bank that extends our services to northern Idaho.</p>
        <img src="assets/images/history/history-thumbnail-1996.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1997</time> <p>For the convenience of WTB customers, an enhancement of services begins with an expanded call center, new ATMs and a telephone bill-paying service.</p>
        <img src="assets/images/history/history-thumbnail-1997.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1998</time> <p>Washington Trust adds convenience for our customers with the addition of our website, watrust.com.</p>
        <img src="assets/images/history/history-thumbnail-1998.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>1999</time> <p>Washington Trust begins offering online banking and bill paying products.</p>
        <img src="assets/images/history/history-thumbnail-1999.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>2000</time> <p>Washington Trust extends service to central Washington, the Columbia Basin, Idaho and the Puget Sound. The bank recieves the Inland Northwest Philanthropy Award. Jack Heath is appointed president and COO with Peter Stanton serving as Chairman and CEO.</p>
        <img src="assets/images/history/history-thumbnail-2000.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>2001</time> <p>Washington CEO Magazine selects Washington Trust as one of the “Best Companies to Work For."</p>
        <img src="assets/images/history/history-thumbnail-2001.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>2002</time> <p>Washington Trust celebrates a century of service.</p>
        <img src="assets/images/history/history-thumbnail-2002.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>2003</time> <p>Washington Trust receives the Agora Award from the Spokane Chamber of Commerce. New features and enhancements are introduced to online banking, such as free online bill payment.</p>
        <img src="assets/images/history/history-thumbnail-2003.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>2004</time> <p>Washington Trust enters the Oregon market with the opening of a Portland private banking and commercial office and expands their markets in Western Washington and Southern Idaho with openings in Bellevue and Boise.</p>
        <img src="assets/images/history/history-thumbnail-2004.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>2006</time> <p>Washington Trust becomes the lead sponsor of Spokane’s Bloomsday, the largest timed road race in the country.</p>
        <img src="assets/images/history/history-thumbnail-2006.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>2007</time> <p>Washington Trust Bank expands their market in North Idaho by opening a branch in Sandpoint.</p>
        <img src="assets/images/history/history-thumbnail-2007.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>2009</time> <p>Washington Trusted acquires Pinnacle Bank in Beaverton, Oregon complementing our office in downtown Portland. </p>
        <img src="assets/images/history/history-thumbnail-2009.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>2010</time> <p>Washington Trust and Spokane lose a great leader, father and man, Philip Stanton at the age of 80.</p>
        <img src="assets/images/history/history-thumbnail-2010.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>2011</time> <p>Washington Trust is recognized as one of the top 100 “Best Companies to Work for in Oregon” by Oregon Business Magazine. The small business lending center is opened and becomes a preferred lender with the government’s Small Business Administration (SBA). </p>
        <img src="assets/images/history/history-thumbnail-2011.jpg">
      </div>
    </li>
    <li>
      <div>
        <time>2013</time> <p>Washington Trust Bank introduces the WTB mobile branch, giving them the power and flexibility to easily bring their bank and brand to new and current customers.</p>
        <img src="assets/images/history/history-thumbnail-2013.jpg">
      </div>
    </li>
  </ul>
</section>
<div ui-view="footer"></div>
<!-- @TODO get this script into the our-story.js file -->
 <script type="text/javascript">
  $(document).ready(function() {
  'use strict';
  // define variables
  var items = document.querySelectorAll(".timeline li");
  // check if an element is in viewport
  // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
  function isElementInViewport(el) {
    var rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }
  function callbackFunc() {
    for (var i = 0; i < items.length; i++) {
      if (isElementInViewport(items[i])) {
        items[i].classList.add("in-view");
      }
    }
  }
  // listen for events
  window.addEventListener("load", callbackFunc);
  window.addEventListener("resize", callbackFunc);
  window.addEventListener("scroll", callbackFunc);
});
</script>