.watrust-socialicons {
  top: -20px;
  left: -7px;
  ul {
    padding: 0;
    li {
      list-style: none;
      svg {
        .st1 {
          fill: #242935;
        }
        float: left;
        padding: 1%;
        width: 20%;
        @media only screen and (max-width : 767px) {
          width: 13%;
          margin-left: 6%;
        }
      }
    }
  }
}