  #nav-tile-container {
    @media only screen and (max-width : 920px) {
      overflow: scroll;
    }
  	position: relative;
    ul {
      height: auto;
      margin-left: 1.25%;
      min-width: 1100px;
      padding: 0 !important;
      width: 150%;
      float: left;
      a {
        li.nav-tile {
          background: #004163;
          float: left;
          padding-top: 16%;
          position: relative;
          list-style: none;
          margin: -20px .5% 0 0;
          width: 16%;
          z-index: 4;
          h3 {
            bottom: 10px;
            color: #fff;
            font-family: "museo-slab", serif;
            font-size: 1em;
            left: 4%;
            position: absolute;
          }
        }
      }
      a:first-child li{
        background-image: url("../images/ourstory-card-600x600.jpg");
      }
      a:nth-child(2) li {
        background-image: url("../images/community-card-600x600.jpg");
      }
      a:nth-child(3) li {
        background-image: url("../images/careers-card-600x600.jpg");
      }
      a:nth-child(4) li {
        background-image: url("../images/news-card-600x600.jpg");
      }
      a:nth-child(5) li {
        background-image: url("../images/investorrelations-card-600x600.jpg");
      }
      a:nth-child(6) li {
        background-image: url("../images/contact-card-600x600.jpg");
      }
    }
  }