/*The element which is a link to the video*/
#home {
  /*LIGHTBOX STYLE*/
  .lightbox {
    display:none;
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    
    .lightbox-video {
      width:100%;
      padding-bottom:56%;
    }
    
    iframe {
      position:absolute;
      height:100%;
      width:100%;
      left:0;
      right:0;
    }
    
    img {
      display:block;
      margin:0 auto;
    }
    
    .lightbox-close {
    position: absolute;
    color: #000;
    display: block;
    top: 65px;
    right: 25px;
    font-size: 26px;
    height: 50px;
    width: 50px;
    background: rgba(255, 255, 255, 1);
    border: 3px solid #ffffff;
    border-radius: 50%;
    line-height: 46px;
    text-align: center;
    z-index: 99;
      
      &:hover {
        text-decoration: none;
      }
    }
    
    .lightbox-container {
      max-width: 1024px;
      margin:100px auto 25px;
    }
  }
  #ology-container {
  	/*border-top: 300px solid #007ca8;*/
  	height: auto;
    /*a.lightbox-toggle:hover .pillars-video {
  		box-shadow: none;
  		padding-top: 26%;
  		width: 26%;
  	}*/
    /*************/
    /************@TODO add a padding top of 100% and a width of 100% to these via css or col-sm-6 class*/
  	/*************/
    a.lightbox-toggle.commercial:nth-child(1) .pillars-video {
  		background-size: 100%;
      background-image: url("../images/800x800-tv-thumbnail-community.jpg");
  	}
  	a.lightbox-toggle.commercial:nth-child(2) .pillars-video {
  		background-size: 100%;
      background-image: url("../images/800x800-tv-thumbnail-idealogy.jpg");
  		/*border-top: 1px solid #fff;
  		border-right: 0px solid #fff;
  		border-bottom: 1px solid #fff;
  		border-left: 0px solid #fff;*/
  	}
  	a.lightbox-toggle.commercial:nth-child(3) .pillars-video {
      background-size: 100%;
      background-image: url("../images/800x800-tv-thumbnail-letters.jpg");
  	}
  	a.lightbox-toggle.commercial:nth-child(4) .pillars-video {
  		/*background: #79c2be;*/
  		background-size: 100%;
      background-image: url("../images/800x800-tv-thumbnail-genetic-code.jpg");
  	}
  	.pillars-video {
  		background-color: rgba(201,206,209, 0.5);
      background-repeat: no-repeat;
  		/*border: 1px solid #fff;*/
  		/*box-shadow: inset 1px 1px 31px rgba(36, 41, 53, 0.3);*/
  		float: right;
  		/*top: -150px;*/
      /*==========  Mobile First Method  ==========*/

      /* Custom, iPhone Retina */ 
      @media only screen and (min-width : 320px) {
        padding-top: 50%;    
      }

      /* Extra Small Devices, Phones */ 
      @media only screen and (min-width : 480px) {
        padding-top: 50%;
      }

      /* Small Devices, Tablets */
      @media only screen and (min-width : 768px) {
        padding-top: 25%;
      }

      /* Medium Devices, Desktops */
      @media only screen and (min-width : 970px) {
        padding-top: 25%;
      }

      /* Large Devices, Wide Screens */
      @media only screen and (min-width : 1170px) {
        padding-top: 25%;
      }
  		img {
  			width: 100%;
  		}
  		h3 {
  			bottom: 20px;
  		    color: white;
  		    font-family: "freight-sans-pro", sans-serif;
  		    font-size: 0.8em;
  		    font-weight: 600;
  		    padding-left: 10%;
  		    position: absolute;
  		    text-transform: uppercase;
  		}
  	}
  }
  #ology-container {
  	/*border-top: 300px solid #007ca8;*/
  	height: auto;

  	a.lightbox-toggle {
  		font-size:1em;
  		padding-top: 25%;
  		text-align:left;
  		width: 25%;
  		/*-webkit-transition: width 2s padding-top 2s -webkit-transform 2s;
      	transition: width 2s, padding-top 2s, transform 2s;*/
  	}
  /*	a.lightbox-toggle:hover .pillars-video {
  		box-shadow: none;
  		padding-top: 26%;
  		width: 26%;
  	}*/
    /*************/
    /************@TODO add a padding top of 100% and a width of 100% to these via css or col-sm-6 class*/
  	/*************/
    a.lightbox-toggle:first-child .pillars-video {
  		background-size: 100%;
      background-image: url("../images/800x800-tv-thumbnail-community.jpg");
  	}
  	a.lightbox-toggle:nth-child(2) .pillars-video {
  		background-size: 100%;
      background-image: url("../images/800x800-tv-thumbnail-idealogy.jpg");
  		/*border-top: 1px solid #fff;
  		border-right: 0px solid #fff;
  		border-bottom: 1px solid #fff;
  		border-left: 0px solid #fff;*/
  	}
  	a.lightbox-toggle:nth-child(3) .pillars-video {
      background-size: 100%;
      background-image: url("../images/800x800-tv-thumbnail-letters.jpg");
  	}
  	a.lightbox-toggle:nth-child(4) .pillars-video {
  		/*background: #79c2be;*/
  		background-size: 100%;
      background-image: url("../images/800x800-tv-thumbnail-genetic-code.jpg");
  	}
  	.pillars-video {
  		background-color: rgba(201,206,209, 0.5);
      background-repeat: no-repeat;
  		/*border: 1px solid #fff;*/
  		/*box-shadow: inset 1px 1px 31px rgba(36, 41, 53, 0.3);*/
  		float: right;
  		/*top: -150px;*/
      /*==========  Mobile First Method  ==========*/

      /* Custom, iPhone Retina */ 
      @media only screen and (min-width : 320px) {
        padding-top: 50%;    
      }

      /* Extra Small Devices, Phones */ 
      @media only screen and (min-width : 480px) {
        padding-top: 50%;
      }

      /* Small Devices, Tablets */
      @media only screen and (min-width : 768px) {
        padding-top: 25%;
      }

      /* Medium Devices, Desktops */
      @media only screen and (min-width : 970px) {
        padding-top: 25%;
      }

      /* Large Devices, Wide Screens */
      @media only screen and (min-width : 1170px) {
        padding-top: 25%;
      }
  		img {
  			width: 100%;
  		}
  		h2 {
  			bottom: 20px;
		    color: white;
		    font-family: "freight-sans-pro", sans-serif;
		    font-size: 0.8em;
		    font-weight: 600;
		    padding-left: 10%;
		    position: absolute;
		    text-transform: uppercase;
		  }
  	}
  }
  #vertical-pillars {
    background: url("../images/watrustology-pillars-herobkgd-1920x1080.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    height: 100vh;
    margin: 0;
    padding: 0;
    ul { 
        display: table;
        float: right;
        height: 100%;
        position: absolute;
        right: 0;
        table-layout: fixed;
        top: 0;
        @media only screen and (max-width : 991px) {
          height: 90%;
          top: 7%;
        }
      li {
        display: table-row;
          text-align: center;
          span {
          display: table-cell;
          vertical-align: middle;
          svg {
            height: auto;
            @media only screen and (max-width : 991px) {
              height: 19vh;
            }
            @media only screen and (max-width : 580px) {
              height: 14vh;
            }
            .cls-1 {
              fill: #fff;
            }
            .cls-2 {
              fill: none;
            }
          }
        }
      }
    }
    button {
      background: none;
      border: 2px solid #fff;
      border-radius: 14px;
      bottom: 0;
      color: #fff;
      height: auto;
      /*left: -134px;*/
      /*margin-left: 50%;*/
      margin: 0 0 4% 4%;
      position: absolute;
      width: 50%;
      @media only screen and (max-width : 991px) {
        bottom: 0;
      }
      h4 {
        font-family: "museo-slab", serif;
        font-size: 3vw;
        font-weight: 100;
        line-height: 1.5em;
        margin: 0;
        padding: 5px 0 5px 0;
        @media only screen and (max-width : 640px) {
          font-size: 6vw;
        }
      /*      color: red;
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(transparent, transparent),
          url('../images/watrustology-pillars-bkgd-1920x1080.jpg') no-repeat center;
        background: -o-linear-gradient(transparent, transparent);
        -webkit-background-clip: text;*/
      }  
    }
    #vertical-pillars-heading {
      color: #fff;
      font-family: "museo-slab", serif;
      padding-left: 4%;
      h3 {
        font-size: 8vw;
        padding-right: 25%;
        padding-top: 4%;
        @media only screen and (max-width : 991px) {
          font-size: 10vw;
        }
      }
      p {
        font-size: 2vw;
        line-height: 2em;
      }
    }
  }
  #vertical-pillars-footer {
    background: #242935;
    bottom: 0;
    height: 200px;
    margin-top: 100vh;
    position: relative;
    width: 100%;
    h3 {
      color: #fff;
      font-family: "museo-slab", serif;
      font-size: 4vw;
      padding-left: 20px;
      padding-top: 2em;
      position: relative;
      @media only screen and (max-width : 640px) {
        font-size: 2em;
      }
    }
  }
  .video-overlap {
    position: relative;
    z-index: 3;
    .container {
      position: absolute;
      top: 50%;
      transform: translateY(-115%);
      width: 100%;
      > div {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        .wto-logo-tagline {
          width: 100%;
          svg {
            display: block;
            min-height: 300px;
            margin: 0 auto;
            position: relative;
            width: 80%;
            @media only screen and (max-width : 748px) {
              min-height: 100px;
            }
            .cls-1 {
              fill: #fff;
            }
          }
        }
      }
    }
    a.lightbox-toggle {
      div {
        width: 100%;
        svg {
          display: block;
          fill: #fff;
          min-height: 50px;
          margin: 0 auto;
          position: relative;
          width: 100px;
          @media only screen and (max-width : 640px) {
            height: 50px;
            width: 50px;
          }
          .cls-1 {
            fill: #fff;
          }
        }
      }
    }
  }
}
/*LIGHTBOX STYLE*/
.lightbox {
  display:none;
  position:fixed;
  z-index:999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  
  .lightbox-video {
    width:100%;
    padding-bottom:56%;
  }
  
  iframe {
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    right:0;
  }
  
  img {
    display:block;
    margin:0 auto;
  }
  
  .lightbox-close {
    position: relative;
    color: #000;
    display: block;
    float: right;
    top: -8px;
    right: 30px;
    font-size: 23px;
    height: 32px;
    width: 32px;
    background: white;
    border: 3px solid #ffffff;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    z-index: 99;
    &:hover {
      text-decoration: none;
    }
  }
  
  .lightbox-container {
    max-width: 1024px;
    margin:100px auto 25px;
    @media only screen and (max-width : 640px) {
      width: 80%;
    }
  }
}