footer {
  padding: 0;
}
#footer {
  background: #242935;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
  div.row {
    max-width: 100%;
  }
  h3 {
    color: #ffffff;
    font-family: "freight-sans", sans-serif;
    font-size: 1.9em;
    font-weight: 600;
    margin-top: 30px;
    text-transform: none;
  }
  ul {
    font-family: "freight-sans", sans-serif;
    height: auto;
    text-align: left;
    li {
      font-size: 1vw;
      font-weight: 100;
      line-height: 2em;
      list-style: none;
      vertical-align: top;
      a {
        color: #ffffff;
        font-family: "freight-sans", sans-serif;
        font-weight: 100;
        position: relative;
        text-decoration: none;
      }
      a:hover {
        color: #c9ced1;
        text-decoration: none;
      }
      a:visited {
        color: #ffffff;
        text-decoration: none;
      }
    }
    .submenu {
      margin-left: 0;
      padding-left: 0;
      social-icons {
        width: 100%;
        .watrust-socialicons {
        top: -20px;
        left: -7px;
          ul {
            padding: 0;
            li {
              svg {
                .st1 {
                  fill: #242935;
                }
                float: left;
                margin: 0;
                min-height: 40px;
                padding: 1%;
                width: 20%;
                @media only screen and (max-width : 767px) {
                  margin-left: 6%;
                  width: 13%;
                }
              }
            }
          }
        }
      }
    }
  }
  #footer-contact {
    float: left;
    margin: 0 auto;
  }
  .footer-heading {
    color: #fff;
    font-family: "museo-slab", serif;
    font-weight: 500;
    font-size: 1.8vw;
    padding: 10px 0 10px 0;
    @media only screen and (max-width : 767px) {
      font-size: 2vw;
    }
  }
  #legal {
    background-color: #000000;
    bottom: 0;
    height: auto;
    padding-left: 4%;
    padding-top: 3%;
    @media only screen and (max-width : 767px) {
      background-color: inherit;
    }
    div.row {
      max-width: 100%;
    }
    #fdic-container {
      bottom: 20px;
      display: block;
      font-family: "freight-sans", sans-serif;
      line-height: 0.7em;
      float: right;
      @media only screen and (max-width : 767px) {
        width: 50%;
      }
      svg {
        bottom: 0;
        float: left;
        margin-top: 10px;
        right: 0;
        width: 33%;
        @media only screen and (max-width : 767px) {
          float: left;
          width: 33%;
        }
      }
    } /*END FDIC CONTAINER*/  
    #footer-copy {
      bottom: 0;
      float: left;
      line-height: 0.7em;
      ul {
        display: inline-block;
        font-family: "freight-sans", sans-serif;
        padding-left: 0;
        margin-left: 0;
        li {
          color: #ffffff;
          display: inline;
          line-height: 4em;
          padding: 0;
          white-space: nowrap;
          a {
            color: #ffffff;
            font-size: 1vw;
            font-weight: 100;
            position: relative;
            text-decoration: none;
            @media only screen and (max-width : 767px) {
              font-size: 2.3vw;
            }
          }
          a:hover {
            color: #c9ced1 !important;
            text-decoration: none;
          }
          a:visited {
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
      h3 {
        color: #ffffff;
        font-size: .7vw;
        position: absolute;
        left: 0;
        margin: 0;
        top: 0;
      }
      h3:last-child {
        margin-bottom: 0;
      }
      p { 
        color: #ffffff;
        font-family: "freight-sans", sans-serif;
        font-size: 1vw;
        font-weight: 100;
        line-height: 1.5em;
        @media only screen and (max-width : 767px) {
          font-size: 2vw;
        }
      }
    }/*end FOOTER COPY*/
  } /*end legal*/
  #footer-social {
    margin-bottom: 20vh;
    position: relative;
    text-align: center;
    social-icons {
      width: 100%;
      .watrust-socialicons {
      top: -20px;
      left: -7px;
        ul {
          padding: 0;
          li {
            svg {
              .st1 {
                fill: #242935;
              }
              float: left;
              padding: 1%;
              width: 20%;
            }
          }
        }
      }
    }
  }
  a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-family: arial;
  font-weight: 600;
}
.NavigationWrapper {
  ul {
    padding:0;
    margin:0;
    li.mobile-nav-item {
      border-bottom: 1px solid #407675;
      position: relative;
      min-height: 39px;
      a {
        background: inherit;
        display: block;
        font-size: 3em;
        line-height: 39px;
        text-indent: 12px;
      }
      a:hover, a:visited, a:focus {
        color: #fff;
        text-decoration: none;
      }
      ul.footer-nav-items {
        position: relative;
        display: block;
        overflow: hidden;
        li.footer-nav-item {
          color: #fff;
          border: none;
          display: block;
          line-height: 39px;
          min-height: 39px;
          position: relative;
          a { 
            background: inherit;
            font-size: 1.8em;
            text-indent: 24px;
          }
          a:hover, a:visited, a:focus {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
  .fa-caret-right, .fa-caret-down {
    left: auto;
    right: 0px;
    float: right;
    margin-right: 10px;
    line-height: 39px;
  }
} /*END FOOTER*/