.carousel {
  width: 100%;
  z-index: 30;
}
.carousel-inner { 
	margin: 0 auto;
	padding: 0;
	.carousel-caption {
		left: 5%;
	    line-height: 1.4em;
	    padding: 3% 0% 0 0%;
	    right: 5%;
	    top: 0;
		h1 {
			font-family: "museo-slab",serif;
			font-size: 4vw;
			font-weight: 700;
			line-height: 1em;
			padding-bottom: 20px;
			text-align: center;
			@media only screen and (max-width : 640px) {
				font-size: 4.5vw;
				line-height: 1.4em;
			}
		}
		 p {
		    font-family: "museo-slab",serif;
		    font-size: 3vw;
		    font-weight: 300;
		    line-height: 1.5em;
		    text-align: center;
        @media only screen and (max-width : 640px) {
          font-size: 4vw;
        }
		}
	}
	.carousel-item:nth-child(1) {
		background-color: #007ca8;
	}
	.carousel-item:nth-child(2) {
		background-color: #242935;
	}
	.carousel-item:nth-child(3) {
		background-color: #407685;
	}
	.item {
		height: 55vh;
    padding-top: 50%;
	}
}