#video-background {
  position:absolute; z-index:199;
  top:0;left:0;width:100%;
}
.flex-video {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0;
	height: 0;
	padding-bottom: 56.25%;
  img {
    width: 100%;
  }
  #vid {
    position: absolute;
    top:0;left:0;
    width: 100%; height: auto;
    @media only screen and (max-width : 640px) {
      display: none;
    }
  }
}